<!-- Шаблон Django страницы для загрузки изображения!-->
{% extends 'app_project/base.html' %}

<!--Блок содержащий форму вставки контента(изображения)!-->
{% block content %}
<h1>Загрузите изображение</h1>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Загрузить</button>
</form>

<!-- Поле для загрузки изображения!-->
{% if message %}
    <div class="alert alert-success mt-3">{{ message }}</div>
{% endif %}
{% endblock %}



