<!-- Шаблон Django страницы для загрузки изображения!-->
{% extends 'app_project/base.html' %}

<!--Блок содержащий форму вставки контента(изображения)!-->
{% block content %}
<div class="container">
    <h1>Загрузите изображение</h1>
    <form method="POST" enctype="multipart/form-data" class="mt-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Загрузить</button>
    </form>

    <!-- Отображение сообщений -->
    {% if message %}
        <div class="alert alert-success mt-3">{{ message }}</div>
    {% endif %}
</div>
{% endblock %}



