<!-- Страница позволяет загружать изображения -->
{% extends 'app_project/base.html' %}

<!-- Область загрузки изображения и результат прогнозирования -->
{% block content %}
<!-- Форма для загрузки изображения -->
<h1>Прогнозирование вероятностей</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Загрузить изображение</button>
</form>

<!-- Отображение результатов прогнозирования -->
{% if predictions %}
    <h2>Результаты:</h2>
    <img src="{{ uploaded_image }}" alt="Загруженное изображение" style="max-width: 300px;">
    <ul>
        {% for class_name, probability in predictions.items %}
            {% if probability > 0 %}
                <li>{{ class_name }}: {{ probability }}%</li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}


